.list-page{
    display: flex;
    height: 100%;

    .listconatiner{
        flex:3;
    
      .wrapper{
        padding-right: 50px;

       }
    }
    .mapcontainer{
        flex:2;
        background-color : #fcf5f3;
    }

    

}